body {
    margin:0 auto;
    padding: 0;
    background-color: #ABD09A;

	background-size:1920px 4620px; 
    background-position: center center;
	width:1290px;
}

h1 {
    display: inline-block;
    margin-left: 100px;
    color: #554C2B;
    font-size: 48px;
}

h3 {
    display: inline-block;
    margin-left: 350px;
    color: #554C2B;
    font-size: 30px;
}

.txt1 {
    display: inline-block;
    margin-top: 0px;
    margin-left: 520px; /* 465 ~ 565 */
    text-align: center;
}

.one {
    margin-top: 0px;
    width: 500px;
    height: 45px;
    background-color: #FFF7DA;
    border: 2px solid #A09672;
    border-radius: 7px;
    font-size: 15px;
}

.two {
    margin-top: 20px;
    width: 500px;
    height: 45px;
    background-color: #FFF7DA;
    border: 2px solid #A09672;
    border-radius: 7px;
    font-size: 15px;
}

.three {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 45px;
    background-color: #FFF7DA;
    border: 2px solid #A09672;
    border-radius: 7px;
    font-size: 15px;
}

.txt2 {
    display: inline-block;
    margin-top: 300px;
    text-align: center;
}

form {
    margin-top: 10px;
    text-align: center;
}